body p, body span, body a {
	font-size: 20px;
}
h1, h2, h3, h4, h5, h6 {
	text-transform:unset;
	font-weight: 400;
}
.et_extra_layout .et_pb_column .module-head h1, .et_pb_extra_column .module-head h1, h2.entry-title, h2.entry-title a, h1.entry-title,
h3.entry-title, h3.entry-title a {
	color:#2b4a13 !important;
}
#et-menu>li>ul, #et-menu li>ul, #et-menu>li>ul>li>ul, .et-top-search-primary-menu-item .et-top-search, .et_pb_module, .module, .page article, .authors-page .page, #timeline-sticky-header, .et_extra_other_module, .woocommerce .woocommerce-info {
	border-top-color:#3c2415 !important;
}
.rating-stars .rating-star, .rating-star:before {
	color:#b96a26;
}
#main-content {
	padding-top:20px;
}
#main-header-wrapper {
	margin-bottom:10px;
}
#footer {
	background:#3C2C17;
}
.primera-letra {
	font-size:600%;
	float:left;
	line-height: 90%;
}
.author-box-avatar img {
	border-radius: 50%;
}
.et_pb_widget .widgettitle {
	display: none;
}
li.cat-item-1 {
	display:none;
}
/*Login modal*/
.lrm-user-modal-container {
	max-width:360px;
}
#lrm-login div.nsl-container-block {
	max-width: 320px;
}
.lrm-form button[type=submit], .lrm-form input[type=submit], .lrm-form #buddypress input[type=submit] {
	padding: 10px 0 !important;
	background:#6c9f45;
}
.lrm-switcher .dashicons {
	height: inherit;
	line-height: inherit;
	margin-right: 5px;
}
.lrm-switcher .dashicons-plus-alt {
	margin-left: -15px;
    font-size: 14px;
}
.lrm-form .fieldset {
	margin: 1.2em 0 !important;
}
div.social-login {
	padding: .5em 1.4em .1em !important;
	margin-top:10px;
}
.text-align-center {
	text-align: center;
}
div.nsl-container-block {
	margin:0 auto;
}
.social-login h4 {
	font-weight: normal;
	font-size:16px;
}
.input, .textarea, input, input[type=text], input[type=password], input[type=email], input[type=search], select, textarea {
	font-weight: normal;
	font-size: 12px;
}
.lrm-form button[type=submit], .lrm-form #buddypress input[type=submit], .lrm-form input[type=submit] {
	font-size: 14px;
}
.lrm-user-modal-container .lrm-switcher a {
	background: #e9f7eb;
}
body:not(.logged-in) [class*='lrm-show-if-logged-in'], body.logged-in [class*='lrm-hide-if-logged-in'] {
	display: none !important;
}
/*menu categorias*/
#et-navigation .mega-menu>ul>li>a:first-of-type, #et-navigation li a {
	color:#3C2C17;
	text-transform: none;
}
.et-fixed-header #et-menu ul li ul.sub-menu>li a, #et-menu li>ul li a {
	padding:0;
	color:#6c9f45;
}
#et-menu li>ul li a:hover {
	color:#6c9f45;	
}
/*Share buttons*/
.post-footer .social-icons .share-title {
	display: none;
}
.addtoany_content {
	text-align: center;
}
/*Author page*/
.author-bio {
	padding:20px;
}
.author-bio .author-box-avatar {
	border:solid 3px #6C9F45;
	border-radius: 50%;
}
.author-label {
	font-weight: normal;
}
.et-extra-icon {
	margin:10px 5px;
	background-color: #3c2415;
}
/* Category title*/
.category-title {
	border: solid 1px;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 0.5px;
    padding-top: 10px;
    text-transform:unset;
    letter-spacing: unset;
    font-weight: 600;
    font-size: 22px;
    color:#2b4a13;
}
.et_extra_other_module .main-post article .post-content h2,
.et_pb_extra_module .main-post article .post-content h2,
.et_extra_layout .et_pb_column .module-head h1,
.et_pb_extra_column .module-head h1 {
	text-transform: none;
}
/*Acordion styles*/
#category-id-1 {
	display: none;
}
#footer ul.accordion-list li {
	padding:5px 0;
}
#footer ul.accordion-list li a.accordion-list-item__link {
	padding:0;
	font-size:13px;
}
#footer .accordion-list-item.is-active > .accordion-list-item__controls::after,
#footer .accordion-list-item__controls:hover::after {
	border:none;
}
#footer .accordion-list-item.is-active a,
#footer .accordion-list-item__controls:hover a {
	color:#6C9F45;
}
#footer .accordion-list-item__controls {
	padding:0.325em 1.25em 0.3125em 0.625em;
}
.hide-phone {
	display:none !important;
}
/*Mobile login*/
.mobile-login {
	margin-right: 10px;
}
/* Search form*/
.nomads-search-form-wrapper {
	display: flex;
	align-items: center;
	width:50%;
}
.nomads-search-form-wrapper form {
	width:100%;
}
.nomads-search-form-wrapper form input.search-field {
	width:90%;
	background:transparent;
	border-bottom: solid 2px rgba(60,44,23,0.2);
	font-weight: bold;
	font-size:2em;
	color:rgba(0,0,0,0.35);
}
.nomads-search-form-wrapper button.search-submit {
	background: transparent;
	color:#6c9f45;
	padding: 0;
}
.nomads-search-form-wrapper button.search-submit span {
	font-size:2em;
}
.mobile-search-icon {
	margin-right:20px;
	color:#6c9f45;
}
.hide-desktop {
	display:none;
}
.search-results-title {
	padding:10px 20px;
	color:#2b4a13;
}
/* Zodiac table*/
.zodiac-table {
	border: none;
}
table.zodiac-table td {
	border:0;
	vertical-align: middle;
}
td.sign-image {
	width:100px;
}
#comment-wrap {
    padding-top: 0;
}
#comment-wrap .page_title, .commentlist {
	margin-bottom: 10px;
}
.related-posts {
	margin-bottom: 30px;
}
/*Mobile Add*/
.mobile-add {
	position:fixed;
	bottom:0;
	width:100%;
	z-index: 100;
	display:none;
}
.add-wrapper {
	position:relative;
	background: #fff;
	display: flex;
	justify-content: center;
}
.add-wrapper #close-mobile-add {
	position: absolute;
	right: 5px;
	top:-17px;
	background:rgba(255,255,255,1);
	border-radius: 50%;
}
.progress {
	font-size:1.2em;
	color:red;
}
#wholetext {
	margin: 0 auto;
	text-align: center;
}
#downloadsform .btn-nomads {
	background-color:#6c9f45;
	color:#fff;
}
@media (min-width: 768px) {
	.featured-posts-slider-module .carousel-item.et_pb_slide.et-pb-active-slide {
		height: 400px !important;
	}
	div.social-login {
		padding: .5em 2em .1em 2em !important;
	}
	.post-content .a2a_button_whatsapp {
		display:none;
	}
	.hide-phone {
		display:block !important;
	}
	.posts-slider-module-items .post-content h3.entry-title, .posts-slider-module-items .post-content h3.entry-title a {
		color:#fff !important;
	}
	.mobile-add {
		display:none !important;
	}
}
@media (min-width: 1024px) {
	body p, body span, body a {
		font-size: 1em;
	}
	#et-navigation .mega-menu>ul>li {
		border: solid 1px #000;
    	border-top: unset;
    	border-bottom: unset;
    	border-left:unset;
	}
	#et-navigation .mega-menu>ul>li:last-child {
		border-right:unset;
	}
	.mobile-login {
		display:none;
	}
	.hide-phone {
		display:block !important;
	}

}
@media (max-width: 768px) {
	li {
		font-size: 20px;
	}
	.hide-desktop {
		display:block;
	}
	.container {
		width:100%;
	}
	.nav-links, #footer #displaycategorieswidget-2, #footer-bottom, #main-header {
		padding:0 20px;
	}
	#comment-wrap, #nav_menu-2 {
		padding-left: 20px;
		padding-right: 20px;
	}
	.et_extra_layout .et_pb_row, .et_pb_extra_row {
		margin: 0 !important;
	}
	#main-header .logo {
		margin:15px 0;
	}
	#footer-bottom {
		padding:10px 0;
	}
	.et_extra_layout.et_pb_gutters3 .et_pb_extra_row, .et_extra_layout.et_pb_gutters3 .et_pb_row {
		margin-left:0 !important;
	}
	.et_pb_extra_column_main {
		overflow: hidden;
	}
	.archive h1 {
		padding:5px 20px;
	}
	.desktop-add {
		display:none;
	}
	.nav-link span.title {
		display:none;
	}
	.nav-link span.button {
		font-size:14px;
	}
	.nomads-search-form-wrapper {
		display:none;
		position: absolute;
    	top: 63px;
    	width: 100%;
    	background: rgb(255, 255, 255);
    	padding: 20px;
	}
	.nomads-search-form-wrapper form input.search-field {
		width:90%;
		font-size:1.5em;
	}
	.mobile-login a {
		font-size: 0.85em;
	}
	.nomads-logo-wrapper {
		max-width:35%;
		display:flex;
	}
	.nomads-logo-wrapper .hide-desktop img {
		width:100%;
		height:100%;
	}
	.hide-phone {
		display:none !important;
	}
}